@import "@material/button/mdc-button";
@import "@material/ripple/mdc-ripple";
@import "@material/animation/variables";
@import "@material/typography/mdc-typography";
@import "@material/layout-grid/mdc-layout-grid";
@import "@material/textfield/mdc-text-field";
@import "@material/card/mdc-card";
.mdc-typography--headline1,
.mdc-typography--headline2,
.mdc-typography--headline3,
.mdc-typography--headline4,
.mdc-typography--headline5,
.mdc-typography--headline6 {
  color: rgba(0, 0, 0, mdc-theme-text-emphasis(high));
  position: relative;
  left: -.06em;
}

.mdc-typography--body1,
.mdc-typography--body2 {
  color: rgba(0, 0, 0, mdc-theme-text-emphasis(medium));
}

// 変数定義
$home_logo-height: 15vh;
$home_content-width: 750px;
$blog_content-width: 750px;
// 0: 待機, 1:背景色変化中, 2: 待機, 3: ロゴ移動中, 4: 待機, 5:リンク変化中
$home_anination-startup-span-0: 1500ms;
$home_anination-startup-span-1: 2000ms;
$home_anination-startup-span-2: 0ms;
$home_anination-startup-span-3: 500ms;
$home_anination-startup-span-4: 0ms;
$home_anination-startup-span-5: 300ms;
// キーフレーム定義
@keyframes startup-bg {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes startup-logo {
  from {
    padding-top: (100 - $home_logo-height) / 2;
  }
  to {
    padding-top: (100 - $home_logo-height) / 2 - 6vh;
  }
}

@keyframes startup-links {
  from {
    opacity: 0;
    transform: translateY(-0.5em);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

// ホーム
body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

a:not(.mdc-button):not(.blog_list-link) {
  // color: #1976d2;
  color: rgba(0, 0, 0, mdc-theme-text-emphasis(high));
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
  &:visited {
    // color: #512da8;
    color: rgba(0, 0, 0, mdc-theme-text-emphasis(high));
  }
}

.inline-block {
  display: inline-block;
}

#home_bgcover {
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  animation-name: startup-bg;
  animation-duration: $home_anination-startup-span-1;
  animation-timing-function: $mdc-animation-standard-curve-timing-function;
  animation-delay: $home_anination-startup-span-0;
  animation-fill-mode: both;
}

#home_header {
  background-image: url(/images/bg.jpg);
  background-size: cover;
  background-position: left top;
  height: 100vh;
  width: 100%;
}

#home_header-logo {
  position: relative;
  padding-top: (100 - $home_logo-height) / 2;
  animation-name: startup-logo;
  animation-duration: $home_anination-startup-span-3;
  animation-timing-function: $mdc-animation-standard-curve-timing-function;
  animation-delay: $home_anination-startup-span-0 + $home_anination-startup-span-1 + $home_anination-startup-span-2;
  animation-fill-mode: both;
  &>svg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: $home_logo-height;
    fill: white;
  }
}

.home_links {
  .home_link {
    $color: white;
    @include mdc-button-ink-color($color);
    @include mdc-states($color);
    padding: 0 24px;
  }
  margin-top: 1em;
  text-align: center;
  animation-name: startup-links;
  animation-duration: $home_anination-startup-span-5;
  animation-timing-function: $mdc-animation-standard-curve-timing-function;
  animation-delay: $home_anination-startup-span-0+$home_anination-startup-span-1+$home_anination-startup-span-2+$home_anination-startup-span-3+$home_anination-startup-span-4;
  animation-fill-mode: both;
}

.home_content {
  width: $home_content-width;
  max-width: 100%;
  margin-top: 24px;
  margin-bottom: 24px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  padding: 24px;
}

#home_books-cardcontainer {
  display: flex;
  flex-wrap: wrap;
  padding-top: 4px;
  padding-bottom: 4px;
}

.home_books-card {
  $width: 200px;
  width: $width;
  margin-left: 0;
  margin-right: 16px;
  margin-top: 0;
  margin-bottom: 16px;
  .home_books-card-media {
    width: $width;
    height: $width * 1.414213562;
  }
  .home_books-card-primary {
    padding: 1rem;
    h2 {
      margin: 0;
    }
    h3 {
      margin: 0;
    }
  }
  .home_books-card-secondary {
    color: rgba(0, 0, 0, 0.54);
    padding: 0 1rem 8px 1rem;
  }
}

.home_books-card-mobile-space {
  display: none;
  padding-left: 24px;
}

@media screen and (max-width: 500px) {
  #home_books-cardcontainer {
    overflow-x: scroll;
    flex-wrap: nowrap;
    position: relative;
    left: -24px;
    width: 100vw;
  }
  .home_books-card {
    margin-left: 24px;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
  }
  .home_books-card-mobile-space {
    display: block;
    padding-left: 24px;
  }
}

#home_update img {
  margin: 0 auto;
  display: block;
  width: 70%;
}

.home_contact-form>.mdc-text-field {
  width: 100%;
}

#recaptcha {
  margin-top: 16px;
}

#home_contact-form-submit {
  $color: black;
  @include mdc-states($color);
  @include mdc-button-container-fill-color($color);
}

.mdc-text-field:not(.mdc-text-field--focused) {
  $color: black;
  @include mdc-text-field-outline-color($color);
  @include mdc-text-field-textarea-stroke-color($color);
}

.mdc-text-field.mdc-text-field--focused {
  $color: black;
  @include mdc-text-field-label-color($color);
  @include mdc-text-field-focused-outline-color($color);
  @include mdc-text-field-textarea-stroke-color($color);
}

// ブログ
.blog_content {
  // color: rgba(0, 0, 0, 0.87);
  width: $blog_content-width;
  max-width: 100%;
  margin-top: 24px;
  margin-bottom: 24px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  padding: 24px;
}

.blog_content:first-of-type {
  margin-top: 0;
}

.blog_header-logo-link {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 24px;
  margin-bottom: 0;
  width: 200px;
  max-width: 35%;
  &>svg {
    display: block;
    fill: rgba(0, 0, 0, 0.87);
  }
}

.blog_header-logo {}

.blog_list-link {
  color: inherit;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.blog_content-article img {
  margin: 0 auto;
  display: block;
  width: 70%;
}

.blog_content-date {
  margin-top: 0;
  margin-bottom: 0.4em;
  color: rgba(0, 0, 0, 0.54);
}

.blog_content-title {
  margin: 0;
}

.blog_footer {
  text-align: center;
}