{{ define "main" }}
<div id="home_bgcover"></div>
<div id="home_header">
  <img src="/images/lying-logo.svg" alt="lying." id="home_header-logo">
  <div class="home_links">
    <div class="inline-block">
      <a href="#" class="mdc-button home_link">About</a>
      <a href="#" class="mdc-button home_link">Books</a>
      <a href="#" class="mdc-button home_link">Blog</a>
    </div>
    <div class="inline-block">
      <a href="#" class="mdc-button home_link">Contact</a>
      <a href="#" class="mdc-button home_link">Pixiv</a>
    </div>
  </div>
</div>
{{ end }}
