{{ define "main" }}
<link rel="preload" href="/images/bg.jpg" as="image">
<link rel="preload" href="/bundle.css" as="style">
<link rel="preload" href="/bundle.js" as="script">
<div id="home_bgcover"></div>
<section id="home_header">
  <div id="home_header-logo">
    {{ partial "logo.svg" . }}
  </div>
  <div class="home_links">
    <div class="inline-block">
      <a href="#home_about" class="mdc-button home_link" data-mt-duration="300">About</a>
      <a href="#home_books" class="mdc-button home_link">Books</a>
      <a href="/blog" class="mdc-button home_link">Blog</a>
    </div>
    <div class="inline-block">
      <a href="#home_contact" class="mdc-button home_link">Contact</a>
      <a href="https://www.pixiv.net/member.php?id=14646991" class="mdc-button home_link">Pixiv</a>
    </div>
  </div>
</section>

<section id="home_about" class="home_content">
  <h1 class="mdc-typography--headline3">About</h1>
  <p class="mdc-typography--body1">
    初めまして、かぐまにくすと申します。 <br>
    <br>
    サークル Lying. にて背景やコンセプトアートを製作しております。 <br>
    <br>
    ご依頼やご意見等がございましたら、下記の<a href="#home_contact">フォーム</a>又はメールアドレスより連絡していただけると幸いです。 <br>
    <br>
    <a href="mailto:kgmnx225@gmail.com">kgmnx225@gmail.com</a>
  </p>
</section>

<section id="home_books" class="home_content">
  <h1 class="mdc-typography--headline3">Books</h1>
  <section id="home_books-cardcontainer">

    {{ range sort $.Site.Data.books "date" "desc" }}
      <div class="home_books-card mdc-card">
        <a href="{{ .url }}" class="mdc-card__primary-action book-card" title="{{ .title }}">
          <div class="home_books-card-media mdc-card__media mdc-card__media--16-9	" style='background-image: url("{{ .cover }}");'></div>
        </a>
      </div>
    {{ end }}

    <div class="home_books-card-mobile-space"></div>
  </section>
</section>

<section id="home_update" class="home_content">
  <h1 class="mdc-typography--headline3">Update</h1>
  {{ range first 1 .Pages }}
    <p class="mdc-typography--subheading1 blog_content-date">{{ .PublishDate.Format "2006-01-02" }}</p>
    <h2 class="mdc-typography--headline4 blog_content-title">{{ .Title }}</h1>
    <div class="mdc-typography--body1">
      {{ .Content }}
    </div>
  {{ end }}
</section>

<section id="home_contact" class="home_content">
  <h1 class="mdc-typography--headline3">Contact</h1>
  <form id="contact-form" name="問い合わせフォーム" class="home_contact-form" netlify-honeypot="phonenumber" action="thank-you" method="POST" netlify>

    <div style="display: none">
      <label>あなたが人間である場合、この欄は空欄のままにしてください: <input name="phonenumber"></label>
    </div>

    <div class="mdc-text-field mdc-text-field--outlined contact-input">
      <input name="お名前" type="text" id="tf-outlined" class="mdc-text-field__input" autocomplete="name" required>
      <div class="mdc-notched-outline">
        <div class="mdc-notched-outline__leading"></div>
        <div class="mdc-notched-outline__notch">
          <label for="tf-outlined" class="mdc-floating-label">お名前</label>
        </div>
        <div class="mdc-notched-outline__trailing"></div>
      </div>
    </div>
    <div class="mdc-text-field-helper-line">
      <div class="mdc-text-field-helper-text mdc-text-field-helper-text--validation-msg">
        この項目は必須です
      </div>
    </div>

    <div class="mdc-text-field mdc-text-field--outlined contact-input">
      <input name="メールアドレス" type="email" id="tf-outlined" class="mdc-text-field__input" autocomplete="email" required>
      <div class="mdc-notched-outline">
        <div class="mdc-notched-outline__leading"></div>
        <div class="mdc-notched-outline__notch">
          <label for="tf-outlined" class="mdc-floating-label">メールアドレス</label>
        </div>
        <div class="mdc-notched-outline__trailing"></div>
      </div>
    </div>
    <div class="mdc-text-field-helper-line">
      <div class="mdc-text-field-helper-text mdc-text-field-helper-text--validation-msg">
        この項目は必須です
      </div>
    </div>

    <div class="mdc-text-field mdc-text-field--textarea contact-input">
      <textarea name="問い合わせ内容" id="textarea" class="mdc-text-field__input" rows="8" cols="40" required></textarea>
      <div class="mdc-notched-outline">
        <div class="mdc-notched-outline__leading"></div>
        <div class="mdc-notched-outline__notch">
          <label for="textarea" class="mdc-floating-label">お問い合わせ内容</label>
        </div>
        <div class="mdc-notched-outline__trailing"></div>
      </div>
    </div>
    
    <div class="contact-bottom-container">
      <button type="button" id="home_contact-form-submit" class="mdc-button mdc-button--raised">送信</button>
      <div class="g-recaptcha" data-sitekey="6LfiJpQUAAAAAADnXMmxtgClhEVQRBY64jytt09b" data-badge="inline" data-size="invisible"></div>
    </div>

  </form>

</section>

{{ partial "footer.html" . }}

{{ end }}
